@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: #000000;
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/63/1/qHgtSL.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 64px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #1c1c1c;
  border-radius: 20px;
  padding: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-width: 40%;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.logo-img {
  max-width: 15%;
  border: none;
  margin-right: 180px;
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  text-shadow: 2px 2px 2px #363636;
  font-weight: 700;
  font-size: 46px;
}

.titulo h3 {
  font-weight: bold;
  font-size: 36px;
  color: #1c1c1c;
  margin-bottom: 0px;
}

.titulo h4 {
  margin-top: 24px;
  color: #363636;
}

.tema button {
  align-self: flex-end;
  background: #ecf4ff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 100px;
}

.projetos {
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.projetos-titulo {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #363636;
  font-weight: 1000;
  font-size: 36px;
  font-variant: small-caps;
  line-height: 45px;
  font-weight: 600;
}

.project-item {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px 20px;
  margin: 20px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 10px;
  text-align: justify;
  text-justify: inter-word;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
}

.item-title {
  line-height: 175%;
  width: 100%;
  margin-right: 30px;
}

.item-img {
  margin-left: auto;
  margin-right: 0px;
}

.item-img img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  border-radius: 8px;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background-color: rgba(13, 13, 13, 0.7);
  color: #f6f6f6;
}

.dark .projetos-titulo {
  text-shadow: 3px 3px 3px #363636;
}

.dark .projetos {
  background-color: rgba(192, 192, 192, 0.2);
  color: #dcdcdc;
}

.dark .project-item {
  background-color: rgba(107, 135, 169, 0.15);
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}

.dark h3 {
  color: white;
  text-shadow: 2px 2px 2px #363636;
}

/* ----------------------- */

article {
  background-color: var(--white);
  padding: 10px 30px 20px;
  margin-top: 0px;
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0px 4px 8px #e2e2e2;
  justify-content: space-between;
  text-align: justify;
  text-justify: inter-word;
}

article .info-article {
  display: flex;
  align-items: center;
}

/* :root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;
  --title: #313131;
  --text: #b6b6b6;
  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
} */